!/log/.keep
!/tmp/.keep
*.DS_Store
*.\#*
*.swp
*.xcuserstate
*\#
*~
.byebug_history
.idea/
.idea/*
.poll_stamp
/.bundle
/config/application.yml
/db/*.sqlite3
/db/*.sqlite3-journal
/doc
/docs
/log/*
/tmp/*
config/database.yml
vendor/ruby
